Source/Dashboard/.idea/.name
Source/Dashboard/.idea/Dashboard.iml
Source/Dashboard/.idea/encodings.xml
Source/Dashboard/.idea/misc.xml
Source/Dashboard/.idea/modules.xml
Source/Dashboard/.idea/scopes/scope_settings.xml
Source/Dashboard/.idea/vcs.xml
Source/Dashboard/.idea/workspace.xml
