body {
	font-size: 62.5%;
	font-family: "Trebuchet MS", "Arial", "Helvetica", "Verdana", "sans-serif";
}

table {
	font-size: 1em;
}

.ui-draggable, .ui-droppable {
	background-position: top;
}

#floor_image{
    background-image: url(../images/floor_tub.png);
    height: 486px;
    width: 930px;
    border: solid 1px #000000;
    float: left;
}

#ruler{
    position: relative;
    left: 55px;
    top: 30px;
    width: 805px;
    height: 380px;
    /*border: solid 1px red;*/
}

.pointer{
    background-color: darkred;
    position: absolute;
    height: 15px;
    width: 15px;
    cursor: pointer;
}

.pointer .xy{
    left: 0px;
    top: 366px;
}

.yAxis{
    position: absolute;
    left: -55px;
    top: 400px;
    transform:rotate(-90deg);
    -ms-transform:rotate(-90deg); /* IE 9 */
    -webkit-transform:rotate(-90deg); /* Safari and Chrome */
}
.xAxis{
    text-align: center;
}

#infoTab{
    height: 200px;
    width: 200px;
    position: absolute;
    right: 20px;
    top: 190px;
}

.dataBaseUri{
    color: darkblue;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
}

.collectionUri{
    color: darkblue;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    margin: 2px;
}

.accessPointUri{
    color: darkblue;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    margin: 2px;
}

.clicked{
    color: #000000;
    font-size: 14px;
}

#servers{
    float: left;
    width: 300px;
    height: 300px;
    margin: 10px;
}
#databases{
    float: left;
    width: 300px;
    height: 300px;
    margin: 10px;
}
#collections{
    float: left;
    width: 500px;
    height: 300px;
    margin: 10px;
}
#accesspoints{
    float: right;
    margin-left: 10px;
    margin-bottom: 10px;
    width: 330px;
    height: 95%;
}
#loader{
    display: none;
    position: fixed;
    left: 600px;
    top: 300px;
    height: 60px;
    width: 200px;
    background-color: #d3d3d3;
    border: solid 1px;
    z-index: 20;
    text-align: center;
    padding-top: 30px;
    font-size: 20px;
}
